body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  width: 1010px;
  height: 100%;
  margin: 0 auto;
  padding: 30px;
}

@media screen and (max-width: 420px) {
  .app {
    width: 100%;
  }
}
