.card {
  height: 280px;
  background-color: white;
  box-shadow: rgba(41, 41, 42, 0.2) 0 7px 29px 0;
}

.col-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 10px;
  position: relative;
}





.rate {
  font-size: 15px;
}

.bad {
  color: #e90000;
}

.normal {
  color: #e97e00;
}

.good {
  color: #e9d100;
}

.wonderful {
  color: #66e900;
}

.rating {
  position: absolute;
  top: -10px;
  right: -26px;
  padding: 5px;
  text-align: center;
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 600;
  /*color:#e9d100;*/
}

/*@media screen and (max-width: 420px) {*/


/*}*/
