.card {
  height: 280px;
  background-color: white;
  box-shadow: rgba(41, 41, 42, 0.2) 0 7px 29px 0;
  position: relative;
}

.col-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 10px;
  padding: 5px;
}

.text{
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.rate {
  font-size: 15px;
}

.bad {
  color: #e90000;
}

.normal {
  color: #e97e00;
}

.good {
  color: #e9d100;
}

.wonderful {
  color: #66e900;
}

.rating {
  position: absolute;
  top: 3px;
  right: -25px;
  text-align: center;
  width: 28px;
  height: 28px;
  border: 2px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating > span {
  color: black;
  font-weight: 600;
}
/*@media screen and (max-width: 420px) {*/

/*}*/
